* {
   box-sizing: border-box;
}

body,
section,
header,
div,
p,
h1,
h2,
h3,
ul,
li {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
   background-color: #e4e7eb;
   font-weight: 300;
}

header {
   margin-left: 20px;
}

h1 {
   text-align: center;
   font-weight: 600;
   font-size: 42px;
   padding: 10px 0;
}

/* add styles here */

/* top half */
body {
   padding: 40px;
   width: 910px;
   margin: auto;
   padding: 0%;
}

.tophalf {
   margin-bottom: 20px;
   margin-top: 40px;
   box-shadow: 0 0 20px rgba(47, 59, 64, 0.35);
   text-align: center;
}

.column {
   display: inline-block;
   width: 300px;
   background-color: white;
   padding: 0px;
}

.columnfeatured {
   display: inline-block;
   width: 300px;
   background-color: #2F4F4F;
   color: white;
}

/* price fonts */
p.pricefree {
   background-color: #5BB189;
   font-size: 36px;
   font-weight: 800;
   padding: 10px;
}

p.pricestandard {
   background-color: #4B0082;
   font-size: 36px;
   font-weight: 800;
   padding: 10px;
}

p.priceprofessional {
   background-color: #EC632A;
   font-size: 36px;
   font-weight: 800;
   padding: 10px;
}

/* regular fonts */
.title {
   font-size: 24px;
   font-weight: 600;
   margin: 10px;
}

.smallbold {
   font-size: 18px;
   font-weight: 800;
}

/* lists */
.ultop {
   list-style-type: none;
}

.litop {
   padding: 15px;
}

.alt {
   background-color: rgba(47, 59, 64, 0.35);
   padding: 15px;
}

.altspecial {
   background-color: #30494a;
   padding: 15px;
}

/* button */
.signup {
   margin-top: 40px;
   margin-bottom: 40px;
   padding: 0px;
   font-weight: 600;
   width: 100%;
}

.signupbutton {
   background-color: #3A6BA5;
   color: white;
   padding: 10px 110px;
   border-radius: 3px;
   text-decoration: none;
   align-items: center;
}

a:hover {
   background-color: midnightblue;
}

/* bottom half */
.confidence {
   background-color: #2F4F4F;
   color: white;
   padding: 20px;
}

.check {
   list-style-type: none;
}

ul.check li:before {
   content: "✔ ";
   color: #108820;
   font-size: 24px;
   text-indent: -2em;   
   font-family: 'Zapf Dingbats';
   padding: 10px;
}

.textbook {
   color: aqua;
   font-style: italic;
   font-weight: 400;
}